@import "./global";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
*::selection {
  color: #fff;
  background-color: #6db224;
}
body{
  background-color: #FAFBFC;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track-y {
  background-color: transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #bbf7d0;
  border-radius: 50px;
  border: 0 solid transparent;
}

